@import 'variables.scss';

/*nav*/
.showcase-nav {
  text-align: center;
  width: 100%;
  position: fixed;
  z-index: 2000;

  -webkit-transition: background-color 0.3s ease-in;
  -moz-transition: background-color 0.3s ease-in;
  -ms-transition: background-color 0.3s ease-in;
  -o-transition: background-color 0.3s ease-in;
  transition: background-color 0.3s ease-in;
}

.backblack {
  background-color: #b71d3e;
}

.menu {
  list-style: none;
  font-weight: $font-weight-semi-bold;
  font-size: $font-size-small;
  padding-left: 0px;
}
.menu-item {
  display: inline-block;
  padding-top: 18px;
  margin-left: 1.7%;
  margin-right: 1.7%;
}
.menu-item a.principal {
  text-decoration: none;
  color: $color-font;
  display: block;
}
.menu-item a.principal:hover {
  text-decoration: none;
  color: $color-font;
}

.tel-item {
  text-decoration: none;
  color: $color-darkness;
}

.tel-item:hover {
  text-decoration: none;
  color: $color-darkness;
}

.menu-item:hover .submenu_nv{
  opacity: 1;
  top: 45px;
  left: auto;
}

.menu-item:hover .submenu_vd{
  opacity: 1;
  top: 45px;
  left: auto;
}

.menu-item:hover .submenu_tel {
  opacity: 1;
  top: 48.5px;
  left: auto;
}

.telefones {
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 1px;
  padding-bottom: 1px;
  border: 2px solid $color-font;
  font-size: $font-size-base;
  font-weight: $font-weight-semi-bold;
}
.submenu_nv {
  list-style: none;
  padding: 0px;
  font-size: $font-size-small;
  font-weight: $font-weight-semi-bold;
  background-color: $color-white;
  position: absolute;
  max-height: 250px;
  overflow: auto;
  width: 25%;
  opacity: 0;
  top: 100px;
  left: -9999px;
  border-radius: 2.5px;

  -webkit-transition: top 0.2s ease, opacity 0.2s ease-in;
  -moz-transition: top 0.2s ease, opacity 0.2s ease-in;
  -ms-transition: top 0.2s ease, opacity 0.2s ease-in;
  -o-transition: top 0.2s ease, opacity 0.2s ease-in;
  transition: top 0.2s ease, opacity 0.2s ease-in;
}

.submenu_vd {
  list-style: none;
  padding: 0px;
  font-size: $font-size-small;
  font-weight: $font-weight-semi-bold;
  background-color: $color-white;
  position: absolute;
  max-height: 250px;
  overflow: auto;
  width: 130px;
  opacity: 0;
  top: 70px;
  left: -9999px;
  border-radius: 2.5px;

  -webkit-transition: top 0.2s ease, opacity 0.2s ease-in;
  -moz-transition: top 0.2s ease, opacity 0.2s ease-in;
  -ms-transition: top 0.2s ease, opacity 0.2s ease-in;
  -o-transition: top 0.2s ease, opacity 0.2s ease-in;
  transition: top 0.2s ease, opacity 0.2s ease-in;
}

.submenu_tel {
  list-style: none;
  font-weight: $font-weight-semi-bold;
  background-color: $color-white;
  position: absolute;
  width: 240px;
  border-radius: 2.5px;
  padding-left: 0px;
  opacity: 0;
  top: 100px;
  left: -9999px;

  -webkit-transition: top 0.2s ease, opacity 0.2s ease-in;
  -moz-transition: top 0.2s ease, opacity 0.2s ease-in;
  -ms-transition: top 0.2s ease, opacity 0.2s ease-in;
  -o-transition: top 0.2s ease, opacity 0.2s ease-in;
  transition: top 0.2s ease, opacity 0.2s ease-in;
}

.submenu_nv .submenu-item {
  padding-left: 15px;
  padding-right: 15px;
  color: $color-darkness;
}
.submenu_nv .submenu-nome {
  height: 50px;
}
.submenu_nv .submenu-nome span{
  float: left;
  width: 70%;
  text-align: left;
  margin-top: 17px;
}
.submenu_nv .submenu-nome img{
  float: right;
}

.submenu_vd .submenu-item {
  padding: 8px;
  color: $color-darkness;
  text-align: left;
  font-weight: $font-weight-light!important;
}

.submenu_tel .submenu-item {
  color: $color-darkness;
  text-align: left;
  padding: 16px;
  font-weight: $font-weight-semi-bold!important;
}

.submenu_tel li + li {
  border-top: 1px solid $color-gray;
}

.tel-item i{
  float: right;
  font-size: 20px;
}

.tels {
  list-style: none;
  padding-left: 16px;
  padding-right: 16px;
  margin-left: -16px;
  margin-right: -16px;
  font-weight: $font-weight-semi-bold;
  color: $color-white;
  background-color: #b71d3e;
  display: none;
  -moz-box-shadow:    inset 0 2px 20px -5px #000000;
  -webkit-box-shadow: inset 0 2px 20px -5px #000000;
  box-shadow:         inset 0 2px 20px -5px #000000;
}

.tels li {
  padding-top: 8px;
  padding-bottom: 8px;
}

ul hr {
  margin-top: 4px!important;
  margin-bottom: 4px!important;
}

.tel-nums li {
  padding: 8px;
}

.tel-nums li span.nome {
  font-weight: $font-weight-light!important;
}

.submenu_nv .submenu-item:hover, .submenu_vd .submenu-item:hover  {
  background-color: $color-gray-light;
}

@media screen and (max-width: 600px) {
  .menu .menu-item:not(:first-child) {display: none;}
  .menu .menu-item{
    float: left;
    padding: 20px;
  }
  .menu .icon {
    float: right;
    display: block!important;
    font-size: $font-size-large;
    position: absolute;
    right: 5px;
    top: 5px;
  }
}

@media screen and (max-width: 970px) {
  .submenu_nv {
    width: 50%!important;
  }
}

@media screen and (max-width: 600px) {
  .responsivo .menu-item:not(.icon){
    display: block!important;
    text-align: left;
    float: none;
    width: 250px!important;
  }

  .menu-item:hover .submenu_nv{
    top: auto!important;
  }

  .menu-item:hover .submenu_vd{
    top: auto!important;
  }

  .menu-item:hover .submenu_tel {
    top: auto!important;
  }

  .submenu_nv {
    width: 80%!important;
  }

  .responsivo {
    height: 380px!important;
    z-index: -200;
  }
  .showcase-nav {
    background-color: #b71d3e!important;
  }

}