@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i");
/* COLOR */
/* FONT */
.scrolloff {
  pointer-events: none; }

.fa-github-alt:hover,
.fa-pinterest-p:hover,
.fa-behance:hover,
.fa-facebook:hover,
.fa-foursquare:hover,
.fa-google-plus:hover,
.fa-instagram:hover,
.fa-lastfm:hover,
.fa-linkedin:hover,
.fa-skype:hover,
.fa-steam:hover,
.fa-vine:hover,
.fa-wordpress:hover,
.fa-yahoo:hover,
.fa-vimeo:hover,
.fa-soundcloud:hover,
.fa-spotify:hover,
.fa-twitter:hover,
.fa-whatsapp:hover,
.fa-youtube-play:hover {
  color: #fff; }

.fa-github-alt:hover {
  background: #000 !important; }

.fa-pinterest-p:hover {
  background: #cb2027 !important; }

.fa-behance:hover {
  background: #000 !important; }

.fa-facebook:hover {
  background: #3c599f !important; }

.fa-foursquare:hover {
  background: #1cafec !important; }

.fa-google-plus:hover {
  background: #cf1717 !important; }

.fa-instagram:hover {
  background: #2a5b83 !important; }

.fa-lastfm:hover {
  background: #d21309 !important; }

.fa-linkedin:hover {
  background: #007bb6 !important; }

.fa-skype:hover {
  background: #00aff0 !important; }

.fa-steam:hover {
  background: #000 !important; }

.fa-vine:hover {
  background: #00a478 !important; }

.fa-wordpress:hover {
  background: #21759a !important; }

.fa-yahoo:hover {
  background: #572c73 !important; }

.fa-vimeo:hover {
  background: #1ab7ea !important; }

.fa-soundcloud:hover {
  background: #f7620e !important; }

.fa-spotify:hover {
  background: #1ed760 !important; }

.fa-twitter:hover {
  background: #33ccff !important; }

.fa-whatsapp:hover {
  background: #179653 !important; }

.fa-youtube-play:hover {
  background: #ce1525 !important; }

.fixed {
  position: fixed; }

.absolute {
  position: absolute; }

.static {
  position: static; }

.top {
  top: 0; }

.right {
  right: 0; }

.left {
  left: 0; }

.bottom {
  bottom: 0; }

/*body*/
body {
  font-family: Open Sans;
  background-color: #1c1c1c; }

/*background*/
.background {
  padding-bottom: 56.25%;
  position: relative;
  z-index: -100;
  opacity: 0.3;
  overflow: hidden; }

.background iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute; }

/*scrollbar*/
::-webkit-scrollbar {
  background-color: rgba(255, 255, 255, 0); }

::-webkit-scrollbar-track,
::-webkit-scrollbar-thumb {
  border: 5px solid rgba(255, 255, 255, 0);
  background-clip: padding-box;
  -webkit-border-radius: 20px;
  border-radius: 20px; }

::-webkit-scrollbar-track {
  background-color: #ccc; }

::-webkit-scrollbar-thumb {
  background-color: #212121; }

/*showcase*/
.showcase-body {
  text-align: center;
  width: 100%;
  padding-left: 15%;
  padding-right: 15%;
  position: absolute; }

.isca {
  width: 100%;
  height: 300px;
  margin-top: 120px;
  height: 600px;
  background-color: rgba(28, 28, 28, 0.7);
  text-align: center;
  padding: 20px;
  position: relative;
  float: left; }

.isca h3 {
  color: #fff;
  font-weight: normal;
  font-size: 18px;
  opacity: 1 !important; }

.isca h5 {
  color: #fff;
  font-weight: normal;
  font-size: 12px;
  opacity: 1 !important; }

.isca hr {
  background-color: #2a2a2a; }

.isca form {
  text-align: left; }

.isca form span {
  color: #fff;
  font-weight: 600;
  font-size: 12px; }

.isca form span.receber_info {
  color: #fff;
  font-weight: 700;
  font-size: 10px; }

.form-input {
  width: 100%;
  background-color: transparent;
  border-radius: 4px;
  border: 1px solid #797979;
  color: #fff;
  padding: 6px;
  font-size: 12px;
  font-weight: 600; }

input.form-input {
  margin-bottom: 16px; }

.form-input option {
  background-color: #2a2a2a;
  border-color: white; }

.parcelas {
  list-style: none;
  margin: 0;
  padding: 0; }

.parcela {
  height: 20px;
  width: 40px;
  position: relative;
  border-radius: 50%;
  display: inline-block; }

.parcela + .parcela {
  margin-left: 8%; }

.parcela label {
  background: #1c1c1c no-repeat center center;
  bottom: -6px;
  cursor: pointer;
  display: block;
  font-size: 0;
  left: 2px;
  position: absolute;
  right: 20px;
  text-indent: 100%;
  top: 0px;
  white-space: nowrap;
  border: 2px solid #fff;
  border-radius: 50%; }

.parcela span {
  float: right;
  margin-left: -30px; }

.isca input[type="checkbox"] {
  background-color: black; }

input[type="radio"] {
  margin-left: 3px; }

input[type="button"] {
  text-align: center;
  width: 100%;
  height: 35px;
  margin-top: 16px;
  background-color: #b71d3e;
  color: #fff;
  border: none;
  border-radius: 5px;
  box-shadow: 0 2px 4px black;
  border-top: 2px solid #b81f3e;
  margin-bottom: 16px; }

input[type="button"]:hover {
  background-color: #a71d3e; }

input[type="button"]:active {
  background-color: #b91d3e; }

.isca a {
  font-weight: 700;
  font-size: 12px;
  color: #fff;
  text-decoration: underline; }

.anuncio {
  text-align: left;
  position: relative;
  float: right;
  margin-top: 120px;
  padding: 20px;
  color: #fff;
  font-weight: 700; }

.anuncio .titulo {
  font-size: 36px;
  margin-bottom: -15px;
  margin-top: -10px;
  height: 50%; }

.anuncio .subtitulo {
  font-size: 24px; }

.anuncio .chamada {
  font-size: 16px;
  margin-bottom: 50px;
  font-weight: 600; }

.anuncio .precde {
  font-size: 16px;
  text-decoration: line-through;
  margin-bottom: -5px;
  font-weight: 600; }

.anuncio .precpor {
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 5px; }

.anuncio .info {
  font-size: 10px;
  font-weight: 600; }

.social {
  text-align: center;
  position: relative;
  float: right;
  padding: 20px;
  color: #fff;
  height: 44%;
  font-weight: 600;
  font-size: 10px; }

.social .titulo {
  font-size: 12px;
  margin-top: 180px; }

.social .aviso {
  text-align: left; }

.social img {
  padding-bottom: 10px; }

@media screen and (max-width: 700px) {
  .isca {
    float: none; }

  .anuncio {
    float: none; }

  .social {
    float: none; }

  .parcela + .parcela {
    margin-left: 3%; } }
@media screen and (max-width: 740px) {
  .social {
    display: none; }

  iframe {
    display: none; }

  .background {
    background-image: url("http://1.bp.blogspot.com/_qKAj9ZRMD9k/TUcJSuqRPLI/AAAAAAAAAlQ/SqCJSF07RWM/s1600/Toyota%2BEtios%2BCar.jpg");
    background-size: cover;
    height: 800px; } }

/*# sourceMappingURL=showcase.css.map */
